
html {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.fp-bg, .background-image, .welcome-flex-container, .team-members, .work-container {
  height: 100%;
}

#logo-container {
  display: flex;
  flex-direction: row;
}

#logo {
  opacity: .95;
  width: 5em;
  height: 3.3em;
  justify-content: flex-start;
  margin-left: 3em;
}


#text-padding {

}

.menu {
  display: flex;
  flex-direction: row;
  padding-top: 1.66%;
  padding-bottom: 1.66%;
  background-color: rgba(255, 255, 255, 0.95);
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

#menu-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1em !important;
}

#menu-item {
  color: #222222;
  margin-right: 2em !important;
}

#menu-item:hover {
  color: #0497d0;
}

.landing-container {

    display: flex;
    flex-direction: column;
}

.background-image {
  background-image: url('images/home.JPG');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

}

.link {
  text-decoration: none;
  color: #e5e5e5;
}



/*  WELCOME SECTION DESIGN   */
/*  WELCOME SECTION DESIGN   */
.welcome-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

#welcome-text {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4%;
  font-size: 1.66em;
}

#h1-text {
  
}

.welcome-image {
  background-image: url('images/flower.JPG');
  opacity: .7;
  background-size: cover;
  align-items: stretch;
  flex: 1;
}


/*  TEAM   */
/*  TEAM   */

.team-members {
  display: flex;
  flex-direction: row;
}

#adam-container {
  display: flex;
  flex-direction: column;
  font-size: 1.43em !important;
  color: #e5e5e5;
  background-color: #222222;
  flex: 1;
  align-items: stretch;
  justify-content: center;
  padding: 4%;
}

#justin-container {
  display: flex;
  flex-direction: column;
  font-size: 1.43em !important;
  flex: 1;
  align-items: stretch;
  justify-content: center;
  padding: 4%;
}

#sub-heading {
  font-size: .66em;
  padding-bottom: 3%;
}

#adam {
  color: #e5e5e5;
}

.quote {
  font-style: italic;
}

#quote-person {
  font-size: .66em;
}


/*  WORK SECTION DESIGN   */
/*  WORK SECTION DESIGN   */
/*  WORK SECTION DESIGN   */
#work-background-color {
  width: 100%;
  height: 100%;
}

.slide {
  display: flex;
  flex-direction: row;
}

#first-level-one {
  background-image: url('images/kendrick.png');
}

#second-level-one {
  background-image: url('images/edibleCalc.png');
}

#third-level-two {
  background-image: url('images/griz.png');
}

#fourth-level-one {
  background-image: url('images/chrisRyan.png');
}

#fourth-level-two {
  background-image: url('images/adamsCalc.png');
}

#first-level-one,
#second-level-one,
#third-level-two,
#fourth-level-one,
#fourth-level-two {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: auto;

}

/*  Side Arrows and Nav Buttons   */
.fp-controlArrow.fp-prev {
  margin-left: 3%;
}

.fp-controlArrow.fp-next {
  margin-right: 3%;
}

.fp-slidesNav {
  left: 45% !important;
  bottom: 2% !important;
}



/*  FOOTER SECTION DESIGN   */

.footer {
  display: flex;
  flex-direction: row;
  color: #e5e5e5;
}

#mailchimp {
  flex: 1;
}

#mailchimp-flexbox {
  display: flex;
  flex-direction: column;

}

#mailchimp-form {
  height: 100%;
}

#mc_embed_signup_scroll {
  height: 40%;
  /* border-bottom: .2em solid #0497d0; */
  box-sizing: border-box;
}

#mce-EMAIL {
  height: 100%;
}

.mChimp-fBox {
  height: 60%;
}

#mce-EMAIL {
  flex: 1;
  font-size: 1em;
  background-color: #111111;
  border: none;
  
  color: #e5e5e5;
  width: 100%;
  text-align: center;

}

#mc-embedded-subscribe {
  flex: 1;
  background-color: #111111;
  border: none;
  color: #e5e5e5;
  font-size: 1em;
  width: 100%;
  height: 100%;
  transition: 1s;
}

#mc-embedded-subscribe:hover {
  background-color: #0497d0;
  transition: 1s;

}


#contact-rd {
  flex: 1.3;
  text-decoration: none;
  
}

#get-in-touch {
  text-decoration: none;
}

#footer-call-to-action {
  color: #0497d0;
  font-size: 2em;
  transition: 1s;
  text-decoration: none;
  padding: 9%;
}

#footer-call-to-action:hover {
  color: #111111;
  background-color: #0497d0 !important;
  transition: 1s;
}

.copyright {
  padding: 3%;
  padding-bottom: 2%;
  background-color: #0497d0;
  color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;

}

#social-icon {
  height: 3em;
  width: 3em;
}


/*RESPONSIVE DESIGN BREAKPOINTS*/
@media screen and (max-width:600px) {
  #adam, #justin, .quote {
    opacity: 0;
  }


}
