* {
  margin: 0;
}

html {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;

}

body {
  width: 100%;
}

h1 {
  font-size: 4.236em;
}

h2 {
  font-size: 2.618em;
}

h3 {
  font-size: 1.618em;
  color: #333333;
}

h4 {
  font-size: 1em;
  color: #333333;
}

h5 {
  font-size: 0.382em;
}

p {
  font-size: 1em;

}

.fp-bg, .welcome, .philosophies, .golden-ratio-container {
  height: 100%;
}


#logo {
  opacity: .95;
  width: 5em;

}


#text-padding {
  padding: 2%;
}

.menu {
  display: flex;
  flex-direction: row;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(255, 255, 255, 0.95);
  justify-content: space-around;
  align-items: center;
  width: 100%;

}



#menu-item {
  margin-right: 3em;
  color: #222222;
}

#menu-item:hover {
  color: #0497d0;
}

.landing-container {

    display: flex;
    flex-direction: column;
}

.background-image {
  background-image: url('images/home.JPG');
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

}

.link {
  text-decoration: none;
  color: #e5e5e5;

}



/*  WELCOME SECTION DESIGN   */
/*  WELCOME SECTION DESIGN   */
/*  WELCOME SECTION DESIGN   */

.welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.text-container {
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  padding-right: 3%;
  align-self: center;
  width: 43%;
}

.welcome-image {
  background-image: url('images/flower.JPG');
  opacity: .7;
  background-size: cover;
  height: 100%;
  width: 57%;
  /*border-top-left-radius: 5%;
  border-bottom-right-radius: 13%;*/
}

.side-design {
  width: 4%;
  background-color: #0497d0;
}

#welcome-title-text {
  padding: 2%;
  margin-left: 5%;
}




/*  philosophies SECTION DESIGN   */
/*  philosophies SECTION DESIGN   */
/*  philosophies SECTION DESIGN   */

.philosophies {
  display: flex;
  flex-direction: row;
}

#p-background {
  background-color: #222222;
  width: 66%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  padding-top: 2%;
  /*border-top-right-radius: 13%;
  border-bottom-left-radius: 7%;*/
}

#adam-block {
  color: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

#adam, #justin {
  font-size: 1.66em !important;
}

#adam {
  color: #e5e5e5;
}

.quote {
  font-size: 1.1em;
  font-style: italic;
}

#name-employee {
  font-size: 1.6em;
  color: #dfdfdf;
  padding-bottom: 2%;
}

#philosophies-text {
  width: 34%;
  margin-left: 5%;
  margin-right: 5%;
  align-self: center;
}

#philosophies-text-text-block {
  margin-right: 17%;
  margin-left: 5%;
  align-self: flex-start;
}

#philosophies-text-image {

  width: 1.5em;

}


/*  WORK SECTION DESIGN   */
/*  WORK SECTION DESIGN   */
/*  WORK SECTION DESIGN   */
#work-background-color {
  width: 100%;
  height: 100%;
}

.slide {
  display: flex;
  flex-direction: row;
}

#first-level-one {

  background-image: url('images/kendrick.png');
}

#second-level-one {
  background-image: url('images/edibleCalc.png');
}

#third-level-two {
  background-image: url('images/griz.png');
}

#fourth-level-one {
  background-image: url('images/chrisRyan.png');
}

#fourth-level-two {
  background-image: url('images/adamsCalc.png');
}

#first-level-one,
#second-level-one,
#third-level-two,
#fourth-level-one,
#fourth-level-two {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: auto;

}

.fp-controlArrow.fp-prev {
  margin-left: 3%;
}

.fp-controlArrow.fp-next {
  margin-right: 3%;
}

.fp-slidesNav {
  left: 80% !important;
  bottom: 5.59% !important;
}

#fp-nav {
  top: 91%;
}

/*  FOOTER SECTION DESIGN   */

.footerAndCopyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #121212;
  box-sizing: border-box;

}

.footer {
  margin: auto;
  text-align: center;
  padding: 5%;
  text-decoration: none;
}

.copyright {
  padding: 3%;
  padding-bottom: 2%;
  background-color: #0497d0;
  color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}

#social-icon {
  height: 3em;
  width: 3em;
}

#get-in-touch {
  text-decoration: none;
}

#footer-call-to-action {
  color: #0497d0;
  font-size: 2em;
  width: 100%;
  border: .005em #0497d0 solid;
  padding: 13%;
  transition: 1s;
  text-decoration: none;
}

#footer-call-to-action:hover {
  color: #111111;
  background-color: #0497d0;
  transition: 1s;
}

/*RESPONSIVE DESIGN BREAKPOINTS*/
@media screen and (max-width:600px) {
  #adam, #justin, .quote {
    opacity: 0;
  }


}
